name: CI

on:
    pull_request:
        branches: [main]

jobs:
    build-test:
        name: Build & Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.24.x"

            - name: Install dependencies
              run: go mod download

            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@v8
              with:
                  version: v2.6.2
                  args: --timeout=5m

            - name: Run build
              run: go build ./...

            - name: Run tests
              run: go test ./... -v -race -cover
